<div class="container">
    <div class="jumbotron">
        <div class="alert {{alertClass}}" role="alert" ng-if="message">{{message}}</div>
        <h2>{{account.name}}</h2>
        <p class="col-xs-12">
            
                <a class="btn btn-success btn-add" data-toggle="modal" data-target="#newSubaccountModal">New Subaccount <span class="glyphicon glyphicon-plus"></span></a>
               
                <a class="btn btn-success btn-add" data-toggle="modal" data-target="#transactionModal">Add Transaction <span class="glyphicon glyphicon-plus"></span></a>
            
        </p>
        <br>
        <div class="alert alert-info" role="alert" ng-if="subaccounts.length == 0">No Subaccounts Created</div>
        <br>
        <div class="list-group">
            <button type="button" class="list-group-item" ng-repeat="subaccount in subaccounts" ui-sref="app.subaccount({id: subaccount.id})">
                <span class="badge">{{subaccount.balance | currency}}</span> {{subaccount.name}}
            </button>
        </div>
    </div>
</div>
<!-- Subaccount Modal -->
<div class="modal fade" id="newSubaccountModal" tabindex="-1" role="dialog" aria-labelledby="newSubccountModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form class="form-horizontal" name="subaccountForm" ng-submit="saveSubaccount()" novalidate>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="newSubaccountModalLabel">New Subaccount</h4>
                    <div class="alert {{alertClass}}" role="alert" ng-if="message">{{message}}</div>
                </div>
                <div class="modal-body">
                    <div class="form-group" ng-class="{ 'has-error' : subaccountForm.name.$error.required && !subaccountForm.name.$pristine }">
                        <label for="name" class="col-sm-3 control-label">Name *</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="name" name="name" placeholder="Subaccount Name" ng-model="subaccount.name" required>
                            <span ng-show="subaccountForm.name.$error.required && !subaccountForm.name.$pristine" class="help-block">The Subaccount Name is required</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-sm-3 control-label">Goal Value</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon">$</div>
                                <input type="number" class="form-control" id="goalValue" name="goalValue" placeholder="Goal Value" ng-model="subaccount.goalValue">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-sm-3 control-label">Goal Date</label>
                        <div class="col-sm-9">
                            <div class="input-group date">
                                <input type="text" class="form-control" id="goalDate" name="goalDate" placeholder="mm/dd/yyyy" ng-model="subaccount.goalDate" readonly><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="notes" class="col-sm-3 control-label">Notes</label>
                        <div class="col-sm-9">
                            <textarea type="text" class="form-control" id="notes" name="notes" placeholder="Notes" ng-model="subaccount.notes">
                            </textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" ng-disabled="subaccountForm.$invalid">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Transaction Modal -->
<div class="modal fade" id="transactionModal" tabindex="-1" role="dialog" aria-labelledby="transactionModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form class="form-horizontal" name="transactionForm" ng-submit="saveTransaction()" novalidate>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="transactionModalLabel">New Transaction</h4>
                    <div class="alert {{alertClass}}" role="alert" ng-if="message">{{message}}</div>
                </div>
                <div class="modal-body">
                    <div class="form-group" ng-class="{ 'has-error' : transactionForm.date.$error.required && !transactionForm.date.$pristine }">
                        <label for="name" class="col-sm-3 control-label">Date *</label>
                        <div class="col-sm-9">
                            <div class="input-group date">
                                <input type="text" class="form-control" id="date" name="date" placeholder="mm/dd/yyyy" ng-model="transaction.date" readonly required><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                            </div>
                            <span ng-show="transactionForm.date.$error.required && !transactionForm.date.$pristine" class="help-block">The Date is required</span>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : transactionForm.description.$error.required && !transactionForm.description.$pristine }">
                        <label for="description" class="col-sm-3 control-label">Description *</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="description" name="description" placeholder="Transaction Description" ng-model="transaction.description" required>
                            <span ng-show="transactionForm.description.$error.required && !transactionForm.description.$pristine" class="help-block">The Description is required</span>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : transactionForm.type.$error.required && !transactionForm.type.$pristine }">
                        <label for="type" class="col-sm-3 control-label">Type *</label>
                        <div class="col-sm-9">
                            <label class="radio-inline">
                                <input type="radio" name="type" ng-model="transaction.type" value="Income" required> Income
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="type" ng-model="transaction.type" value="Expense" required> Expense
                            </label>
                            <span ng-show="transactionForm.type.$error.required && !transactionForm.type.$pristine" class="help-block">Transaction Type is required</span>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : transactionForm.amount.$error.required && !transactionForm.amount.$pristine }">
                        <label for="amount" class="col-sm-3 control-label">Amount *</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon">$</div>
                                <input type="number" class="form-control" id="amount" name="amount" placeholder="Amount" ng-model="transaction.amount" min="0" required>
                            </div>
                            <span ng-show="transactionForm.amount.$error.required && !transactionForm.amount.$pristine" class="help-block">The amount is required</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="amount" class="col-sm-3 control-label">Distribution</label>
                        <div class="col-sm-9">
                            <table class="table table-striped">
                                <thead ng-class="{ 'has-error' : !transactionForm.distTotal.$valid }">
                                    <tr>
                                        <th class="col-sm-8">Total</th>
                                        <th class="col-sm-4">
                                            <div class="input-group">
                                                <input type="number" class="form-control" id="distTotal" name="distTotal" ng-model="distTotal" ng-model-options="{ getterSetter: true }" min="100" max="100" readonly required>
                                                <div class="input-group-addon">%</div>
                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                                <tr ng-repeat="dist in distribution">
                                    <td class="col-sm-8">{{dist.subaccount.name}}</td>
                                    <td class="col-sm-4">
                                        <div class="input-group">
                                            <input type="number" class="form-control" ng-model="dist.percentage" min="0" max="100">
                                            <div class="input-group-addon">%</div>
                                        </div>
                                    </td>
                                </tr>
                                <tfoot>
                                    <tr>
                                        <td colspan="2">
                                            <div ng-show="!transactionForm.distTotal.$valid" class="alert alert-danger" role="alert">Ditribution Total must be 100%</div>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" ng-disabled="transactionForm.$invalid">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
