<div class="container">
    <div class="title row">
        <div class="col-xs-3 col-sm-2">
            <img src="./images/argentum.png" alt="Argentum Logo" height="80px" weight="80px">
        </div>
        <div class="col-xs-9 col-sm-10">
            <h1>Argentum</h1>
        </div>
    </div>
    <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
        <strong>Warning!</strong> This site is not secured and is intented for demo purposes only. Any data sent <strong>will NOT be encrypted</strong> and can be publicly read.
    </div>
    <div class="login jumbotron center-block">
        <h1>Login</h1>
        <div class="alert alert-danger" role="alert" ng-if="message">{{message}}</div>
        <form role="form" name="loginForm" ng-submit="login()" novalidate>
            <div class="form-group" ng-class="{ 'has-error' : (loginForm.email.$error.required || loginForm.email.$invalid) && !loginForm.email.$pristine }">
                <label for="email">Email</label>
                <input type="email" class="form-control" ng-model="user.email" name="email" id="email" placeholder="Email" required>
                <span ng-show="loginForm.email.$error.required && !loginForm.email.$pristine" class="help-block">Email is required</span>
                <span ng-show="loginForm.email.$invalid && !loginForm.email.$pristine" class="help-block">Email is invalid</span>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : loginForm.password.$error.required && !loginForm.password.$pristine }">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" ng-model="user.password" placeholder="Password" required>
                <span ng-show="loginForm.password.$error.required && !loginForm.password.$pristine" class="help-block">Password is required</span>
            </div>
            <button type="submit" class="btn btn-primary" ng-disabled="loginForm.$invalid">Submit</button>
        </form>
        <div class="signup row">
            <button type="button" class="btn btn-link col-xs-12" ng-click="signup()">Click here to Signup</button>
        </div>
    </div>
</div>
