<div class="container">
    <div class="title row">
        <div class="col-xs-3 col-sm-2">
            <img src="./images/argentum.png" alt="Argentum Logo" height="80px" weight="80px">
        </div>
        <div class="col-xs-9 col-sm-10">
            <h1>Argentum</h1>
        </div>
    </div>
    <div class="signup center-block jumbotron">
        <h1>Signup</h1>
        <div class="alert alert-danger" role="alert" ng-if="message">{{message}}</div>
        <form role="form" name="signupForm" ng-submit="createUser()" novalidate>
            <div class="form-group" ng-class="{ 'has-error' : signupForm.firstName.$error.required && !signupForm.firstName.$pristine }">
                <label for="firstName">First Name *</label>
                <input type="text" class="form-control" id="firstName" name="firstName" ng-model="user.firstName" placeholder="First Name" required>
                <span ng-show="signupForm.firstName.$error.required && !signupForm.firstName.$pristine" class="help-block">First Name is required</span>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : signupForm.lastName.$error.required && !signupForm.lastName.$pristine }">
                <label for="lastName">Last Name *</label>
                <input type="text" class="form-control" id="lastName" name="lastName" ng-model="user.lastName" placeholder="Last Name" required>
                <span ng-show="signupForm.lastName.$error.required && !signupForm.lastName.$pristine" class="help-block">Last Name is required</span>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : (signupForm.email.$error.required || signupForm.email.$invalid) && !signupForm.email.$pristine }">
                <label for="email">Email *</label>
                <input type="email" class="form-control" id="email" name="email" ng-model="user.email" placeholder="Email" required>
                <span ng-show="signupForm.email.$error.required && !signupForm.email.$pristine" class="help-block">Email is required</span>
                <span ng-show="signupForm.email.$invalid && !signupForm.email.$pristine" class="help-block">Email is invalid</span>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : signupForm.password.$error.required && !signupForm.password.$pristine }">
                <label for="password">Password *</label>
                <input type="password" class="form-control" id="password" name="password" ng-model="user.password" placeholder="Password" required>
                <span ng-show="signupForm.password.$error.required && !signupForm.password.$pristine" class="help-block">Password is required</span>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : ( signupForm.password2.$error.required || signupForm.password2.$error.password ) && !signupForm.password2.$pristine }">
                <label for="password2">Confirm Password *</label>
                <input type="password" class="form-control" id="password2" name="password2" ng-model="password2" placeholder="Confirm Password" required confirm-pwd="user.password">
                <span ng-show="signupForm.password2.$error.required && !signupForm.password2.$pristine" class="help-block">Confirm Password is required</span>
                <span ng-show="signupForm.password2.$error.password && !signupForm.password2.$pristine" class="help-block">Passwords don't match</span>
            </div>
            <button type="submit" class="btn btn-primary" ng-disabled="signupForm.$invalid">Submit</button>
        </form>
    </div>
</div>
